*
{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.container #imgtxt{
    font-family: Fantasy;
    font-size: 80px;
position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(3, 3, 3);
}
.container #imgtxt2{
    font-family: cursive;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(233, 233, 223);
 
    
}
.container #imgtxt3{
    font-family: cursive;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    opacity: .9;
    background-color: rgb(245, 127, 49);
    padding: 20px;
    font-size: 50px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: yellow;
    
}
#i1
{
    width: 100%;
    height: 100vh;
    /* filter: blur(4px);
    -webkit-filter:blur(4px); */
    
}

.div1
{
    font-family: cursive;
    background-color: rgb(244, 248, 247);
    margin-top: 10px;
    padding: 20px;
    color: black;
    

}

.div2
{
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(248, 246, 242);
    float: left;
    width: 32%;
    padding: 10px;
}

.div3
{
    font-family: cursive;
    background-color: rgb(248, 250, 249);
    float: left;
    width:  32%;
    padding: 10px;
}

.div4
{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(240, 236, 231);
    float: left;
    width:  32%;
    padding: 10px;
}