*
{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.container #imgtxt{
    font-family: Fantasy;
    font-size: 80px;
position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: skyblue;
}
.container #imgtxt2{
    font-family: cursive;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: yellowgreen;
 
    
}
.container #imgtxt3{
    font-family: cursive;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    text-align: center;
    opacity: .9;
    background-color: aquamarine;
    padding: 20px;
    font-size: 50px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: yellow;
    
}
#i1
{
    width: 100%;
    height: 100vh;
    /* filter: blur(4px);
    -webkit-filter:blur(4px); */
    
}

.div1
{
    font-family: cursive;
    background-color: aquamarine;
    margin-top: 10px;
    padding: 20px;
    

}

.div2
{
    font-family: 'Courier New', Courier, monospace;
    background-color:bisque;
    float: left;
    width: 32%;
    padding: 10px;
}

.div3
{
    font-family: cursive;
    background-color: aquamarine;
    float: left;
    width:  32%;
    padding: 10px;
}

.div4
{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    float: left;
    width:  32%;
    padding: 10px;
}