#name
{
    
    text-align: center;
    font-size: 60px;
    background-color: yellowgreen;
    font-style: italic;
    margin: 20px;
}
#image
{
    
    text-align: center;
    font-size: 60px;
    margin: 20px;
    /* background-color: yellowgreen; */
    font-style: italic;
}

#list
{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    background-color: yellowgreen; 

}
ul{
    text-align: center;
    list-style-position: inside;
    margin: 20px;
    
    /* padding-left: 50%; */
}
#2nd
{
    border-style: solid;
    float: center;
    position: relative;
    width: 60vh;
}
ul
{
    text-align: left;
}
h4{
    text-align: center;
}