.page img
{
    height: 97vh;
    width: 100%;
    background-size: cover;
}
#ig
{
    position: fixed;
    left: 32%;
    color: white;
    font-family: cursive;
}

























































/* *{padding: 0; margin: 0; box-sizing: border-box;}

.container
{
    color: wheat;
    height: 100vh;
    width: 100%;
    background-color: black;
    
    background-image: url(https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;


}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box
{
    background-color: aqua;
    height: 100px;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    box-shadow: 5px 5px 5px pink;
}
.box:hover
{
    border: 1px;
    transition: 2s;
    border: 2px solid palevioletred;
}
.class
{
    flood-color: aliceblue;
}
 */
