*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    height: 100vh;
    background-image:url("https://img.freepik.com/free-vector/covid-19-coronavirus-infection-outburst-spread-background-design_1017-24428.jpg?w=2000");
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    font-weight: bold;
}

.entry{
    height: 80%;
    width: 70%;
    background-color: #fff;
    background-color: rgba(245, 245, 220, 0.299);
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
#header{
    margin: 25px;
    color:black;
    
   
}
#forme{
 display: flex;
 flex-direction: column;
 font-size: 18px;
}
.format{
    display: flex;
    justify-content:end;
    width: 100%;
    padding: 10px;
}
label{
    padding-right: 10px;
    padding-left: 5px;
}
.h2{
    width: 50%;
}
#cn
{
    background-color: transparent;
}
